<div class="body">
  <h1>Dashboard</h1>
  <div class="body-trimmed">Lorem ipsum - dashboard</div>
  <div class="body-md-screen">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus
    soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident
    animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
    exercitationem! Labore assumenda at autem nostrum rem, odio iusto nam
    ducimus fugiat aperiam sequi facere? Totam ducimus iusto necessitatibus
    mollitia corrupti.
  </div>
</div>
